@import "partials/vars";
@import "partials/animate";
@import "components/item-section";
@import "components/nav-buttons";

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  font-family: $font-stack;
  background: $background-image $background-color;
  background-size: cover;

  color: $text-color;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;

  .main-header {
    height: 80px;
    font-size: 1.6em;
    text-transform: uppercase;
  }

  .container {
    padding: 10px;
    background-color: $background-section-color;
  }

  .main-footer{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}