button {
  border: none;
  text-transform: uppercase;
  transition: all .3s ease;
  color: $accent-color;
  border-radius: 3px;

  &.plain {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
  }

  &.icon {
    margin: 5px 0;
    padding: 5px;
  }


  &:hover {
    background-color: $primary-color;
    color: $text-color;
    cursor: pointer;
  }
}