.item-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s ease;

  .section-header,
  .section-footer {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .section-content {
    font-size: 2em;
    padding: 0 40px;
  }
}