.item-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all .3s ease;
  width: 100vh;

  .section-header {
    font-size: 4.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .section-content {
    font-size: 2em;
    padding: 0 40px;
  }

  .section-footer {

  }

}